---
import type { CollectionEntry } from 'astro:content';
import PreviewCard from './PreviewCard.astro';
import PostDate from './PostDate.astro';

interface Props {
  post: CollectionEntry<'emonicle'>;
}

const { post } = Astro.props;
const { title, description, date, image } = post.data;
---

<PreviewCard href={`/emonicle/${post.data.id}`} title={title} image={image} showMarginBottom={false}>
  <div slot="meta" class="mb-4">
    <PostDate date={date} />
  </div>
  <p slot="content" class="text-gray-800 dark:text-gray-200 mb-4">{description}</p>
</PreviewCard>